*{
    box-sizing: border-box;
    font-size:1rem;
}
body{
  
  
  font-family: 'Gloria Hallelujah', cursive;
    padding: 0;
    margin: 0;
}
.header-container{
    position: relative;
   
    
  
}

/* navbar*/
.brand-name{
  position: absolute;
  left: 0;
  border-radius: 0px 14px 50px 0px;
  text-align: left;
 background-color: #f8bb2a;
  width: 15%;
  
  }
  
  .navbar
  {
      padding:0;
      background-color:white;
  }
  
  .navbar-nav .nav-item .nav-link{
      color: black;
  }
  
  
  .navbar .bor
  {
      border-left: 1px solid  #ecebeb;
      padding-left: 25px
  }
  .navbar .bor  button
  {
      margin:15px 0
  }
  
  .navbar-light .first
  {
     padding-right: 10px;
  }
  
  .navbar-light .ulast .nav-link , .navbar-light .first .nav-link:hover
  {
       color:#f8bb2a;
       transition: all 1s
  }
  
  
  .navbar-light .navbar-brand{width:7%}
  
/* end navbar */

/* slider */

.slider-container {

  width: 100%;
  margin: 0 auto;
  height: 100%;
  max-width: 100%;
  position: relative;
  overflow: hidden;
  
}





.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  
  place-items: center;
  transition: all 0.25s ease-in-out;
  
 
}



.slide-img {
  height: 100%;
  object-fit: fill;
  width: 100%;
}


.slide:nth-child(1) h1  {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:5rem;
  text-align: center;
  color: #f8bb2a;
  background-color: rgb(75, 70, 70, .5);
}

.slide:nth-child(2) h1  {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:5rem;
  text-align: center;
  color: #f8bb2a;
  background-color: rgb(75, 70, 70, .5);
}

.slide:nth-child(3) h1  {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:5rem;
  text-align: center;
  color: #f8bb2a;
  background-color: rgb(75, 70, 70, .5);
}

.slide:nth-child(4) h1  {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:5rem;
  text-align: center;
  color: #f8bb2a;
  background-color: rgb(75, 70, 70, .5);
}

.slide:nth-child(5) h1  {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:5rem;
  text-align: center;
  color: #f8bb2a;
  background-color: rgb(75, 70, 70, .5);
}


.btn {
  text-transform: uppercase;
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  cursor: pointer;
  border-radius: var(--radius);
  border:none;
  
}



.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 34rem;
  
}
.prevBtn,
.nextBtn {
  background:transparent;
  border-color: transparent;
  font-size: 2rem;
  font-weight: 900;
  cursor: pointer;
  margin: 0 0.25rem;
  letter-spacing: 1px;
  transition: var(--transition);
  color: black;
  

}
.prevBtn:hover,
.nextBtn:hover {
  text-shadow: 2px 2px 5px white;
  transition: all .5s
  
}

.btn:focus{

 box-shadow: none;
 
}

/* end slider */

/* who we are*/
.apps{padding:100px 0}
.apps h6{
    color:#1f1f1f;
}
.apps p{
        color: #787878;
    font-size: 20px;
    line-height: 40px;
}
.apps .con{
    width:70%
}

/* end who we are */


/* text animation */
.text-animation{
  color: #f8bb2a;
}

.text-animation .letter{
  display: inline-block;
}
/* end text animation */

/* mission */
.mission-section{

  border: 1px solid  #f8bb2a;
  border-radius: 30px;
}

.tab-btn{
  background-color: #f8bb2a;
  border: none;
  
}

.p-content{
  line-height: 2em;
}

.content{
  display: none;
}
.content.active{
  display: block;
  ;
}
.bt-read-more-about{
  border: none;
  background-color:#f8bb2a;
  border-radius: 30px 0 30px 0;
}
.bt-a-about{
  color: #1f1f1f;
}
.bt-a-about:hover {
  text-decoration: none;
  color: white;
}


/* end mission */

/* creative team */
.titel{
  position: relative;
}
.h2-shadow{
  font-size: 6rem;
  color: #f1f1f1;
}

.h3-team{
  position: absolute;
  font-size: 3rem;
}

.team{
    position: relative;

}
.img-creative, .img-work{
    width:100%
    
}

.img-mission{
  border-radius: 5px 5px 50px 50px;
}

.team-overlay{
    position: absolute;
    background-color: rgba(255, 219, 122, 0.9);;
    top:30;
    left:0;
    right: 0;
    bottom: 0;
    width:100%;
    opacity: 0;
    transition: top .5s;
}

.team-overlay:hover{
    opacity: 1;
    top:0
    
}


.team-info{
    position: absolute;
    bottom:10;
    left:10;
    color:white;
    font-size:12px
}

h4{
    font-size:25px;
    font-size: bolder;  
}

.social-team, .products, .features{
    list-style: none;
}

.team-link{
    color:white
}

.team-link:hover{
    color:white
}


/* end creative team */

/* what we do */

.what-we-do{
  background-size: cover;
  background-image: url(../images/lollypop\ \(2\).jpg);
  background-repeat: no-repeat;
  position: relative;

 
}
.whatwedo-overlay{
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1f1f1f;
  opacity: .7;
}

.svg{
  width:50%;
  
}

h4{
  color: white;
  font-size: 15px;
}

h2{
  color: #f8bb2a;
}

.row-what{
  margin-right: 0;
}
.p-wedo{
  color:white;
  font-size: 18px;
}

.check-list{
  list-style: none;
  color: white;
  border:1px solid transparent;
  font-size: 18px;

}
/* end what we do */

/* our work */
.shadow-o{
  color:  #f8bb2a;
}
.hr{
  border:1px solid black;
  width:7%;
  transition: width .5s;
}

.hr:hover {
  width:20%
}
/*.products-bar, .products-bar-all{
  padding:25px; 
  color:black 
}*/

.products-bar{
padding: 20px;
color:  #f8bb2a;

}

.products-bar-all{
  border-bottom:1px solid black
}

.products-bar:hover{
  text-decoration: none;
 color:black;
 border-bottom:1px solid black
}


.container-img-work{
    
  overflow:hidden ;
  position: relative;
  
  
}
.img-work{
transition: transform  1s;

}

.img-work:hover {
  transform: scale(1.2,1.2) ;


}

.container-img-work:hover .p-img-work{
  opacity: 1;
  bottom:50

}
.p-img-work{
  background-color: white;
  position: absolute;
  width: 80%;
  bottom: 20;
  left: 9%;
  opacity: 0;
  transition:  bottom 1s;
  
  
}




.p1-work{
  font-weight: bold;
  font-size: 19px;
}

.p2-work{
  font-size: 14px;
  color:#787878
}


/* end our work */

/* pricing */
.prices{
  background-color: #f7f7f7;
}




.pricing-table{
  background-color: white;
  position: relative;
  padding-bottom: 10px;
  margin-bottom:30px
}

.h4{
  color:#1f1f1f;
  font-size:13px;

}

.prices-p{
  position: relative;
  border-bottom:1px solid #eee;
  width:80%;
  
}
span{
  font-size:18px;
  font-weight: 400;
}

.h2-price{
  position: absolute;
  top:5;
  left: 10;
  font-weight: bolder;
  font-size:30px
}

.features li{
  color:black;
  font-weight: 400;
  font-size: 16px;
}

.bt-sign-up{
  background-color: #f8bb2a ;
  border:1px solid #f8bb2a 
}

.bt-a-sign{
  color:White;
  text-decoration: none;
}
.bt-a-sign:hover{
  text-decoration: none;
  color:white
}

.feature-label{
  border:1px solid rgb(248, 199, 83) ;
  background-color: #f8bb2a ;
  color:white;
  font-size: 12px;
  position: absolute;
  right:10;
  top:20
  
}

.pricing-table:not(.best){
margin-top:50px ;
}




/*reveiws*/


.img-reviews{

  width: 150px;
  height: 150px;
  box-shadow: 0 8px 20px rgba(0,0,0,.15);
  position: relative;
  bottom: 0;
  left: 0;
}

.carousel-indicators li
{
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #000;
}

.review{
  border:1px solid #f8bb2a;
  border-radius:0 50px 0 50px ;
  width: 70%;

}

.prev-review-btn,.next-review-btn{
  border: none;
  color: #f8bb2a;
  background-color: white;
  margin:15px 10px;
}
.random-btn{
  border: 1px solid #f8bb2a;
  color: #f8bb2a;
  background-color: white;
  border-radius: 30%;
}
 
 

 #info{
   color: #787878;
 }

 .r-shadow{
  font-size: 6rem;
  color: #f8bb2a;
 }

/* end review */

/*footer*/

footer{
  border: 2px solid  #f8bb2a;
  
  overflow: hidden;
  height:auto;
  position: relative;

}

.col-footer{
  height: 100%;
}


.footer-h3{
 
  width:100%
}

input{
  width:100%;
  border:2px solid #dad9d9;
  outline: none;
}

label{
  color:#f8bb2a;
  font-weight: bold;
  
}

input:focus{
  border:2px solid black
}


.bt-footer{
  background-color: #f8bb2a;
  border:none;
  width:50%;
}

.bt-a-footer{
  color:white
}

.bt-a-footer:hover{
  text-decoration: none;
  color:white
}

.col-img-footer{
  
  width: 50%;
  position: absolute;
  right: 0;
  height: 100%;

}

.img-footer{
 height: 100%;
 width: 100%;
  background-image: url(../images/macroons.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
}
/*end footer*/


















@media screen and (min-width: 500px) {
  .slider-container {
    max-width: 100%
  }
  
  .brand-name{

    
    
    }

.prevBtn,
.nextBtn{
  z-index: 1;
}


}


@media (min-width: 501px) and (max-width: 991.98px){
  .products-bar{
   
    padding: 7px;
    font-size: 15px;
  }

  .svg{
    width:20%;
    
  }
}


@media screen and (max-width: 500px) {

  .prevBtn,
  .nextBtn{
    z-index: 1;
   

  }
    
  .slider-container {
    max-width: 31rem
  } 
  .svg{
    width:20%
  }
  .products-bar{
    padding: 7px;
    font-size: 15px;
  }
}